@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <style>
        * {
            box-sizing: border-box;
        }

        header {
            background-color: #666;
            padding: 30px;
            text-align: center;
            font-size: 35px;
            color: white;
        }

        nav {
            float: left;
            width: 20%;
            height: 950px;
            padding: 20px;
            background-color: rgb(200,200,200);
        }

        article {
            float: right;
            padding: 20px;
            width: 80%;
            background-color: rgb(180,180,180);
        }
    </style>
    <title style="text-align:center">CV-LÊ KHẮC HUY</title>
    <header>
        <h1 style="font-family:arial;text-align:center">CV-LÊ KHẮC HUY</h1>
    </header>
</head>
<body>
    <nav>
    </nav>
    <article>
        <table style="margin-left:1in;width:100%">
            <tr>
                <td>Address: 53c/15 8 district f.4 16 street</td>
                <td>Email: lekh39[at]gmail.com</td>
            </tr>
            <tr>
                <td>Số điện thoại: (+84)78SSS77Z</td>
            </tr>
        </table>
        <h1 style="margin-left:1in;font-family:arial;text-align:left">INFORMATION</h1>
        <table style="margin-left:1in; width : 70%">
            <tr>
                <td><img src="/Content/huy.jpg" alt="HUY PICTURE" style="width:300px;high:300px"></td>
                <td>
                    <p>Full name: Le Khac Huy</p>
                    <p>Birthdays: 29/09/1999</p>
                    <p>Nation: Vietnam</p>
                    <p>Hometown: Hong Ngu-Đong Thap</p>
                    <p>Gender: Male</p>
                </td>
            </tr>
        </table>
        <h1 style="font-family:arial;text-align:center"> EDUCATION </h1>
        <p style="margin-left:1in">2005-2010: Trần Quốc Toản elementary</p>
        <p style="margin-left:1in">2010-2014: Kim Đồng middle-schools</p>
        <p style="margin-left:1in">2014-2017: Marie Curie high school</p>
        <p style="margin-left:1in">2017-đến nay: Văn Lang university</p>
        <h3 style="font-family:arial;text-align:center;" font-size="4"> INTERESTED </h3>
        <p style="margin-left:1in">Travel, Music</p>
        <p style="margin-left:1in">Security</p>
        <h1 style="font-family:arial;text-align:center"> Skills </h1>
        <p style="margin-left:1in">C# basic , Java basic, MySQL basic</p>
        <p style="margin-left:1in">Foreign language: English (B1), Việt</p>
    </article>
</body>
</html>